# Byte-code files
*.pyc
__pycache__/

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor/IDE-specific files
.idea/  # popular Python IDE PyCharm
.vscode/ # Visual Studio Code
*.swp
*~
.sess

# Build artifacts
dist/
build/
*.egg-info/
.coverage

# Installer logs
pip-log.txt
pip-delete-this-arg.txt

# OS-specific files
.DS_Store # macOS
Thumbs.db # Windows

# Sensitive files/credentials
.env
.flaskenv
secrets.toml
